<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h4>{{request.user.username}}</h4>

            <div class="cards">
                <div class="inner-card1">
                    <h6>Product</h6>
                    <p>{{cart}}</p>
                </div>
                <div class="inner-card1">
                    <h6>Quantity</h6>
                </div>
                <div class="inner-card1">
                    <h6>TotalAmount</h6>
                    <p>{{value}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>